/* Design philosophy : Rule of thirds styled big to small, selectors alphabetically listed. */

/* I. Palette */
:root {
    --bg: rgb(107, 93, 76);
    --bg-unfocus: rgba(104, 74, 48, 0.644);
    --dark: rgb(58, 33, 20);
    --light: rgb(250, 242, 217);
    --red: rgb(247, 83, 83);
    --tr-3: 1s color, 1s background-color, 1s box-shadow;
    --spread: 0 0 .5rem;
}

* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

/* I. Base */
body {
    background-color: var(--bg);
    box-shadow: inset 0 0 2rem var(--dark);
    color: var(--dark);
    font-family: 'Times New Roman', Times, serif;
    display: flex;
    flex-direction: column;
    gap: .5rem;
    white-space: pre-line;
    height: 100vh;
}

/* II. Semantic divisions */
footer,
header,
main {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 100%;
}

/* III. Nested division specificity */
/* - Header */
h1 {
    font-variant: small-caps;
    padding: .5rem .5rem 0 .5rem;
    color: var(--red);
    text-shadow: .25rem .25rem 1rem var(--dark);
}

nav {
    display: flex;
    flex-direction: column;
    width: 100%;

    & .char-list {
        display: grid;
        grid-template-columns: repeat(26, 1fr);
        text-align: center;
        background-color: var(--dark);
        color: var(--light);
        list-style: none;

        & li {
            outline: 1px dotted var(--bg);
            padding: .25rem 0;

        }

    }

    & #alphabet-shifted {
        color: var(--red);
        /* outline: 1px solid var(--red); */
    }

    & #cipher-form {
        display: grid;
        grid-template-columns: 1fr auto auto auto;
        gap: .5rem;
        padding: 0 1rem;
        align-items: flex-end;
        margin-top: .5rem;

        & label {
            gap: .25rem;
        }
    }
}

/* - Main */
main {
    flex-grow: 2;
    gap: 1rem;
    padding: 0 1.5rem;

    & label {
        gap: .7rem;
        width: 100%;
    }

    & label[for="encrypted-text"] {
        flex-grow: 1;

        & #original-text {
            height: 10rem;
        }

        & #encrypted-text {
            height: 100%;
        }
    }
}

/* IV. Interactive */
/* Links */
a {
    color: inherit;
    text-decoration: none;
    border-radius: .5rem;
    padding: 0 1rem;
    background-color: none;
    transition: var(--tr-3);

    &:focus {
        outline: none;
        color: var(--red);
        background-color: var(--dark);
        box-shadow: 0 0 .25rem .25rem var(--dark);
    }

    &:hover {
        color: var(--red);
    }
}

/* Logic entry points */
button,
.input {
    border-radius: .5rem;
    outline: none;
    border: none;
}

/* Buttons */
button {
    padding: .3rem .75rem;
    font-variant: small-caps;
    color: var(--red);
    background-color: var(--dark);
    box-shadow: var(--spread) var(--dark);
    transition: var(--tr-3);

    &:active {
        color: var(--light);
    }

    &:focus {
        color: var(--dark);
        background-color: var(--red);
        box-shadow: var(--spread) .25rem var(--red);
    }
}

/* Labels */
label {
    display: flex;
    flex-direction: column;
    font-weight: bold;
    font-variant: small-caps;
}

/* Inputs */
input {
    color: var(--red);
    background-color: var(--dark);
    box-shadow: var(--spread) var(--dark);
}

input[type="number"] {
    padding: .25rem;
    transition: var(--tr-3);
    width: 2.5rem;

    &:focus {
        color: var(--light);
        background-color: var(--red);
        box-shadow: var(--spread) .25rem var(--red);
    }
}

input[type="range"] {
    appearance: none;
    background-color: var(--dark);
    margin: .25rem 0;
    transition: 1s background-color, 1s box-shadow;

    &:active {
        background-color: var(--red);
        box-shadow: var(--spread) .05rem var(--red);
    }

    &::-webkit-slider-thumb {
        --size: .75rem;
        -webkit-appearance: none;
        appearance: none;
        width: var(--size);
        height: var(--size);
        border-radius: 50%;
        background: var(--red);
        box-shadow: 0 0 1rem var(--red);
        outline: none;
        padding: .5rem;
        transition: 1s background-color;
    }

    &::-webkit-slider-thumb:active {
        background-color: var(--light);
    }
}

textarea {
    background-color: var(--bg-unfocus);
    box-shadow: var(--spread) .5rem var(--bg-unfocus);
    resize: none;
    white-space: pre-line;
    padding: .5rem;
    transition: 1s background-color, 1s box-shadow;

    &:focus,
    &:hover {
        background-color: var(--light);
        box-shadow: var(--spread) .5rem var(--light);
    }
}


@media screen and (min-width: 1024px) {
    body {
        gap: 2rem;
    }

    /* header */
    #cipher-form {
        grid-template-rows: 1fr max-content;
        height: 100%;
        gap: 1.5rem .5rem;

        & label[for="original-text"] {
            height: inherit;

            & #original-text {
                flex-grow: 1;
            }
        }
    }

    main {
        display: grid;
        grid-template-columns: 1fr 1fr;
        grid-template-rows: 1fr max-content;
        padding-top: 3.25rem;
        gap: 3.25rem;

        & #copy-btn {
            align-self: flex-end;
        }
    }

    footer {
        grid-column: 1 / -1;
    }
}