:root {
    --bg: rgb(179, 161, 140);
    --dark: rgb(58, 33, 20);
    --red: rgb(247, 83, 83);
    --light: rgb(250, 242, 217);
    --unfocus: rgb(206, 174, 146);
    --tr-3: 1s color, 1s background-color, 1s box-shadow;
    --spread: 0 0 .5rem;
}

* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

body {
    background-color: var(--bg);
    box-shadow: inset 0 0 1.5rem var(--dark);
    color: var(--dark);
    font-family: 'Times New Roman', Times, serif;
    display: flex;
    flex-direction: column;
    gap: 1rem;
    white-space: pre-line;
    padding: 1.5rem;
    height: 100vh;

    & header {
        display: flex;
        flex-direction: column;

        & h1 {
            font-variant: small-caps;
        }

        & #form {
            display: grid;
            grid-template-columns: 1fr auto auto auto;
            gap: .5rem;
            align-items: flex-end;

            /* customize range slider & thumb appearance */
            & #num-range {
                appearance: none;
                background-color: var(--dark);
                margin: .25rem 0;
                transition: 1s background-color, 1s box-shadow;

                &:active {
                    background-color: var(--red);
                    box-shadow: var(--spread) .05rem var(--red);
                }

                &::-webkit-slider-thumb {
                    --size: .75rem;
                    -webkit-appearance: none;
                    appearance: none;
                    width: var(--size);
                    height: var(--size);
                    border-radius: 50%;
                    background: var(--red);
                    box-shadow: 0 0 1rem var(--red);
                    outline: none;
                    padding: .5rem;
                    transition: 1s background-color;
                }

                &::-webkit-slider-thumb:active {
                    background-color: var(--light);
                }

            }

            & #num-input {
                padding: .25rem;
                transition: var(--tr-3);
                width: 2.5rem;

                &:focus {
                    color: var(--light);
                    background-color: var(--red);
                    box-shadow: var(--spread) .25rem var(--red);
                }
            }

            & label[for="original-text"] {
                grid-column: 1 / -1;

                & #original-text {
                    height: 10rem;
                }
            }
        }
    }

    & main {
        display: flex;
        flex-direction: column;
        flex-grow: 2;
        gap: 1rem;

        & label[for="encrypted-text"] {
            flex-grow: 1;

            & #encrypted-text {
                height: 100%;
            }
        }
    }

    & footer {
        text-align: center;
    }
}

a {
    color: inherit;
    text-decoration: none;
    border-radius: .5rem;
    padding: 0 1rem;
    background-color: none;
    transition: var(--tr-3);

    &:hover {
        color: var(--red);
    }

    &:focus {
        outline: none;
        background-color: var(--dark);
        box-shadow: 0 0 .25rem .25rem var(--dark);
        color: var(--red);
    }
}

label {
    display: flex;
    flex-direction: column;
    gap: .75rem;
    font-weight: bold;
    font-variant: small-caps;
}

input {
    color: var(--red);
    background-color: var(--dark);
    box-shadow: var(--spread) var(--dark);
}

.input,
button {
    border-radius: .5rem;
    outline: none;
    border: none;
}

button {
    padding: .3rem .75rem;
    font-variant: small-caps;
    color: var(--red);
    background-color: var(--dark);
    box-shadow: var(--spread) var(--dark);
    transition: var(--tr-3);

    &:focus {
        background-color: var(--red);
        color: var(--dark);
        box-shadow: var(--spread) .25rem var(--red);
    }

    &:active {
        color: var(--light);
    }
}

textarea {
    background-color: var(--unfocus);
    box-shadow: var(--spread) .5rem var(--unfocus);
    resize: none;
    white-space: pre-line;
    border: none;
    padding: .5rem;
    transition: 1s background-color, 1s box-shadow;

    &:focus {
        background-color: var(--light);
        box-shadow: var(--spread) .5rem var(--light);
    }

}


@media screen and (min-width: 1024px) {
    body {
        display: grid;
        grid-template-columns: 1fr 1fr;
        grid-template-rows: 1fr max-content;
        gap: 2rem;

        & header #form {
            grid-template-rows: 1fr max-content;
            height: 100%;
            gap: 1.5rem .5rem;

            & label[for="original-text"] {
                height: inherit;

                & #original-text {
                    flex-grow: 1;
                }
            }
        }

        & main {
            padding-top: 3.25rem;
            gap: 3.25rem;

            & #copy-btn {
                align-self: flex-end;
            }
        }

        & footer {
            grid-column: 1 / -1;
        }
    }
}