/* Design philosophy : Rule of thirds styled big to small, selectors alphabetically listed. */

/* I. Palette */
:root {
    --bg: rgb(137, 118, 82);
    --bg-unfocus: rgb(87, 71, 50);
    --dark: rgb(28, 11, 2);
    --light: rgb(251, 236, 192);
    --yellow: rgb(255, 204, 122);
    --btn: #8a2424;
    --tr-3: 1s color, 1s background-color, 1s box-shadow;
    --spread: .05rem .05rem .15rem;
    --corners: .5rem;
}

* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

/* II. Base */

body {
    background-color: var(--bg);
    color: var(--dark);
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    display: flex;
    flex-direction: column;
    gap: .5rem;
    white-space: pre-line;
    height: 100vh;
}

/* III. Semantic divisions */
footer,
header,
main {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 100%;
}

/* IV. Nested division specificity */
/* Header */
h1 {
    font-variant: small-caps;
    padding: .5rem;

    & #version {
        font-size: smaller;
    }
}

nav {
    display: flex;
    flex-direction: column;
    width: 100%;

    & .char-list {
        list-style: none;
        display: grid;
        grid-template-columns: repeat(26, 1fr);
        background-color: var(--bg-unfocus);
        box-shadow: inset var(--spread) var(--dark);
        text-align: center;
        text-shadow: var(--spread) var(--dark);

        & li {
            outline: 1px solid var(--bg);
            padding: .25rem 0;
        }

    }

    & #static-legend {
        color: var(--light);
        text-shadow: var(--spread) var(--dark);
    }

    & #encrypted-legend {
        color: var(--yellow);
        transition: 1s background-color;
    }

    & #cipher-form {
        display: grid;
        grid-template-columns: 1fr auto auto auto;
        gap: .5rem;
        padding: 0 1rem;
        align-items: flex-end;
        margin-top: .5rem;

        & label {
            gap: .25rem;
        }
    }
}

/* Main */
main {
    flex-grow: 2;
    gap: 1rem;
    padding: 0 1.5rem;

    & label {
        gap: .7rem;
        width: 100%;
    }

    & label[for="encrypted-text"] {
        flex-grow: 1;

        & #original-text {
            height: 10rem;
        }

        & #encrypted-text {
            height: 100%;
        }
    }

    & #copy-btn {
        align-self: flex-end;

    }
}

/* V. Interactive */
/* Links */
a {
    color: var(--yellow);
    font-weight: lighter;
    border-radius: var(--corners);
    padding: .5rem 1rem;
    margin: 1rem 0;
    background-color: none;
    transition: var(--tr-3), 1s text-shadow, 1s outline;
    text-shadow: var(--spread) var(--dark);
    box-shadow: none;

    &:focus,
    &:hover {
        box-shadow: var(--spread) var(--dark);
    }

    &:focus {
        outline: 2px solid var(--light);
        background-color: var(--yellow);
        box-shadow: var(--spread) var(--light);
        color: var(--btn);
    }

    &:hover {
        background-color: var(--btn);
        color: var(--light);
    }

}

/* Logic entry points */
button,
.input {
    border-radius: var(--corners);
    outline: none;
    border: none;
    transition: var(--spread), 1s outline;
}

/* Buttons */
button {
    padding: .3rem .75rem;
    font-variant: small-caps;
    background-color: var(--btn);
    box-shadow: var(--spread) var(--dark);
    transition: var(--tr-3), 1s outline;

    &:active,
    &:focus,
    &:hover {
        color: var(--btn);
    }

    &:focus,
    &:hover {
        background-color: var(--yellow);
        box-shadow: var(--spread) var(--light);
    }

    &:focus {
        outline: 2px solid var(--light);
    }
}

/* Labels */
.label {
    color: var(--yellow);
    text-shadow: var(--spread) var(--dark);
    transition: 1s color;
    font-weight: lighter;

    &:hover {
        color: var(--light);
    }
}

label {
    display: flex;
    flex-direction: column;
    font-variant: small-caps;
}

/* Input fields */
.input {
    transition: var(--tr-3), 1s text-shadow, 1s outline;

    &:focus,
    &:hover {
        background-color: var(--light);
    }

    &:focus {
        outline: 2px solid var(--dark);
    }
}

input {
    color: var(--yellow);
    background-color: var(--dark);
    box-shadow: var(--spread) var(--dark);
}

input[type="number"] {
    padding: .25rem;
    width: 3rem;
    background-color: var(--bg-unfocus);
    box-shadow: inset var(--spread) var(--dark);
    text-align: center;
    text-shadow: var(--tr-3) var(--dark);
    font-size: 1.25rem;

    &:focus {
        color: var(--yellow);
    }
}

input[type="range"] {
    appearance: none;
    background-color: var(--bg-unfocus);
    margin: .25rem 0;
    box-shadow: inset var(--spread) var(--dark);

    &:active {
        background-color: var(--light);
    }

    &::-webkit-slider-thumb {
        --size: .75rem;
        -webkit-appearance: none;
        appearance: none;
        width: var(--size);
        height: var(--size);
        border-radius: var(--corners);
        background: var(--yellow);
        box-shadow: var(--spread) var(--dark);
        outline: none;
        padding: .5rem;
        transition: 1s background-color;
    }

    &::-webkit-slider-thumb:active {
        background-color: var(--dark);
    }
}

textarea {
    color: var(--bg-unfocus);
    background-color: var(--bg-unfocus);
    box-shadow: inset var(--spread) var(--dark);
    text-shadow: 0 0 .05rem 5rem var(--dark);
    font-size: 2rem;
    min-height: 10rem;
    resize: none;
    padding: .5rem;
    white-space: pre-line;

    &:focus,
    &:hover {
        color: var(--dark);
        text-shadow: var(--spread) var(--dark);
    }

    &::-webkit-scrollbar {
        background-color: transparent;
    }

    &::-webkit-scrollbar-thumb {
        background-color: var(--bg);
        border-radius: var(--corners);
    }

}


@media screen and (min-width: 768px) {
    body {
        gap: 2rem;
    }

    /* header sibiling elements */
    #cipher-form {
        grid-template-rows: 1fr max-content;
        height: 100%;
        gap: 1.5rem .5rem;

        & label[for="original-text"] {
            height: inherit;

            & #original-text {
                flex-grow: 1;
            }
        }
    }

    main {
        display: grid;
        grid-template-columns: 1fr 1fr;
        grid-template-rows: 1fr max-content;
        gap: 1rem 3rem;

        & label {
            height: 100%;

            & textarea {
                flex-grow: 1;
            }
        }

        & #copy-btn {
            grid-column: 2 / -1;
            justify-self: flex-end;
        }
    }

    footer {
        grid-column: 1 / -1;
    }
}